/* Font Naiv */
@font-face {
  font-family: "naiv_normal";
  src: url("../../assets/fonts/naiv/Naiv-Normal.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "naiv_normal_thin";
  src: url("../../assets/fonts/naiv/Naiv-Thin.otf");
  font-weight: normal;
  font-style: normal;
}


.photo_bg {
    background: url(../../assets/photo-landing.jpg) no-repeat;
    background-color: #001E60;
    background-size: cover;
    background-position: 100% 40%;
    text-align: center;
    background-attachment: scroll;
    height: 100%;
    width:100%;
    min-height: 900px;
    padding-top: 12%;
    padding-bottom: 9%;
    margin-bottom: 0;
    background-blend-mode: exclusion;
}

@media (max-width: 991px) {
    .photo_bg {
        background-position: 40% 40%;
    }
    #head_logo_edges {
        margin-top: 4em;    
    }
}
@media (max-width: 700px) {
    .photo_bg {
        background-position: 60% 40%;
    }
}
h2,
h3 {
  font-size: 40px;
  text-transform: uppercase;
}
hr.blue {
    margin-top: 20px;
    margin-bottom: 4em;
    width: 120px;
    border: 0;
    border-top: 4px solid #001E60; 
}

#arrow {
	position: absolute;
    bottom: 1.5em;
    text-align: center;
    margin: 0;
    
    left: 50%;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;
}
#arrow img {
	width: 80px;
}

#discover iframe {
	width: 100%;
	height: 200px;
}


#events .avatar {
	width: 100%;
	height: 175px;
	background-size: cover;
	background-position: center center;
	margin-bottom: 2em;

}

.avatar-title h3 {
	font-family: "Open Sans";
	font-size: 2em;
	font-weight: bold;
	color:white;
	/*margin: 0 30px;*/
    padding: 1em 1.2em;
    line-height: 1.5em;
}
#events a {
	text-decoration: none;
}
.avatar-title {
	/*position: absolute;*/
    width: inherit;
    height: inherit;
    text-align:center;
    /*border-radius: 50%;*/
/*    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden;*/
}
.avatar:hover .avatar-title {
	background: #001E60;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
@media (max-width: 1400px) {
    .avatar-title h3 {
        font-size: 1.7em;
        padding:1.7em 1em;
    }
}
@media (max-width: 1200px) {
    .avatar-title h3 {
        font-size: 1.4em;
        padding:2em 0.8em;
    }
}
@media (max-width: 1050px) {
    .avatar-title h3 {
        font-size: 1.3em;
        padding-top:2.1em;
    }
}
@media (max-width: 991px) {
	#events .avatar {
		height:250px;
	}
	.avatar-title h3 {
		font-size: 3.3em;
		padding: 0.6em 1.4em;
	}
    .btn-footer {
        margin: 1em 0 3em;
    }
}
img {
	max-width: 100%;
}

.navbar .navbar-header .navbar-brand .header-logo {
	top: -6px;
}
.navbar .nav ul a, .navbar .nav > li > a {
	font-size: 13px;
} 

/* Flickr embed */

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
	width: 100%;
	height: auto;
	background-color: #001E60;
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}


#f label {
    color:white;
}
.form-control-footer {
    width: 100%;
}
.submit-email-button-footer {
    margin-left: 0;
    float: left;
}

#mc_embed_signup input.email {
    min-width: 100%;
}